@import '../variables';

.produto {
  padding: 20px;
  border: solid 1px $mainColor;
  img {
    width: 200px;
  }
  p {
    text-align: center;
  }
}

.btnInfo {
  background-color: #b1df0a;
  color: #fff;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1), 0 6px 6px rgba(0, 0, 0, 0.1);
  padding: 14px 40px;
  font-size: 16px;
  cursor: pointer;
}
