@import '../variables';
.social {
  background: $mainColor;
  display: flex;
  justify-content: space-around;
}

.social h4 {
  padding-bottom: 10px;
}

.social ul img {
  width: 20px;
}

.social ul {
  display: flex;
  flex-direction: column;
  line-height: 2;
}

.social ul li {
  display: flex;
}

.departamento ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
