@import '../variables';
@import '../mixins';

.container {
  margin: auto;
  background: $mainColor;
  padding: 10px;
}

.logo {
  @include flex-center();
  background-color: #ffeead;
  border: solid 1px #fff;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
  height: 40px;
  img {
   padding-right: 5px;
   width: 20px;
  }
}


.container input {
  padding: 10px;
  width: 700px;
  border: solid 1px #cecece;
  border-radius: 10px;
  background-color: #ffeead;
  font-size: 14px;
  color: #000;
  margin: 10px 0px;
  cursor: pointer;
  height: 40px;
}

.pHeader {
  @include flex-center();

  justify-content: space-between;
}


#carrinho {
  width: 30px;
}

.sHeader ul {
  display: flex;
  justify-content: space-between;
  margin: 10px 100px 0px 100px;
}

.links:hover {
  background-color: #ffeead;
  border-radius: 3px;
  cursor: pointer;
  color: #000000;
}
